h1 {
	color: #41b3a3;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h2 {
	align-self: center;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html {
background: #85dcb8;
}

html,
body {
height: 100%;
}

#root {
align-items: center;
display: flex;
height: 100%;
justify-content: center;
}

.App {
text-align: center;
display: flow-root;
justify-content: center;
align-items: center;
font-family: "Open Sans", sans-serif;
}
.App > .logo {
max-width: 90%;
}
.App > .form {
margin-bottom: 10%;
margin-top: 10%;
}
  



.input-group {
outline: none;
border: none;
margin-bottom: 26px;
}
.input-group:nth-last-child(-n + 2) {
margin-bottom: 50px;
}
.input-group > label,
.input-group > input {
font-family: 'Roboto', sans-serif;
max-width: 420px;
text-align: left;
width: 80%;
}
.input-group > label {
color: #676767;
display: inline-block;
margin-bottom: 5px;
}
.input-group > input {
background: #f2f2f5;
border-radius: 4px;
border: none;
margin: 5px;
color: #676767;
font-size: 16px;
height: 40px;
padding: 0 15px;
transition: all 0.3s;
}
.input-group > input:focus {
	border:none;
	outline: none;
}
.input-group > input::placeholder {
	color: #c4c4c4;
	font-size: 16px;
}

button {
border-radius: 5px;
border: none;
color: #fff;
cursor: pointer;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-weight: bold;
letter-spacing: 1px;
max-width: 420px;
outline: 0;
padding: 10px 0;
transition: background 0.3s;
width: 80%;
}
button.primary {
background: #41b3a3;
}
button.primary:hover {
background: #268a7c;
}

  
.login {
  width: 27em;
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;
}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    background-color: #dd9897;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
}
.right {
      right: -40%;
      align-items: flex-end;
}
.right:hover {
        right: -45%;
		background: #bb6e6d;
}
    
.left {
      right: 40%;
      align-items: flex-start;
}
.left:hover {
        right: 45%;
		background: #bb6e6d;

}
    

.text {
	color: rgb(15 15 15 / 28%);
	font-size: 21px;
	font-weight: 700;
	margin-right: 2.5em;
	margin-left: 3em;
}
  


.header {    
  padding: 20px 16px;
  background: #dd9897;
  display: flex;
  color: rgb(15 15 15 / 28%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0px 0px 12px 2px rgb(15 15 15 / 28%);
  }

  .profile-box {
    height: 60%;
    width: 200px;
    background: #56997d;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0;
    font-family: 'Roboto', sans-serif;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 5px 4px 12px 2px rgb(15 15 15 / 28%)
  }

  .profile-pic {
    background-image: url('./images/avatar1.png');
    background-size: cover;
    height: 130px;
    width: 130px;
    position: relative;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    box-shadow: 5px 4px 12px 2px rgb(15 15 15 / 28%);
  }

  .icon-container {
    filter: opacity(0.6);
    display: flex;
    column-gap: 1.4rem;
    flex-direction: row;
    margin-left: auto;
  }

  .icon-container > .logout {
    background-image: url(./images/logout.png);
    height: 30px;
    width: 30px;
    background-size: cover;
  }

  .icon-container > .about {
    background-image: url(./images/about.png);
    height: 30px;
    width: 30px;
    background-size: cover;
  }

  .icon-container > .posts {
    background-image: url(/css/images/posts.png);
    height: 30px;
    width: 30px;
    background-size: cover;
  }

  .icon-container > .messages {
    background-image: url(/css/images/messages.png);
    height: 30px;
    width: 30px;
    background-size: cover;
  }

  @media only screen and (max-width: 768px) {
    .profile-box {
      width: 100px;
    }

    .profile-pic {
    	height:70px;
    	width:70px;
    }

    .header {  
      padding: 10px 16px;
    }
  }